<Switch>
            <Route path="/">
              <News
                mode={this.state.mode}
                pageSize={5}
                country="in"
                category="general"
              />
            </Route>
            <Route path="/business">
              <News
                mode={this.state.mode}
                pageSize={5}
                country="in"
                category="business"
              />
            </Route>
            <Route path="/entertainment">
              <News
                mode={this.state.mode}
                pageSize={5}
                country="in"
                category="entertainment"
              />
            </Route>
            <Route path="/general">
              <News
                mode={this.state.mode}
                pageSize={5}
                country="in"
                category="general"
              />
            </Route>
            <Route path="/health">
              <News
                mode={this.state.mode}
                pageSize={5}
                country="in"
                category="health"
              />
            </Route>
            <Route path="/science">
              <News
                mode={this.state.mode}
                pageSize={5}
                country="in"
                category="science"
              />
            </Route>
            <Route path="/sports">
              <News
                mode={this.state.mode}
                pageSize={5}
                country="in"
                category="sports"
              />
            </Route>
            <Route path="/technology">
              <News
                mode={this.state.mode}
                pageSize={5}
                country="in"
                category="technology"
              />
            </Route>
          </Switch>
        </Router>